<!DOCTYPE html>
<html>
<head>
	<title>Image upload layout</title>
	<style type="text/css">
		/*Laytout*/
		body{
			font-family: sans-serif;
		}
		.container{
			width: 80%;
			margin: 0 auto;
		}
		.btn{
			border-radius: 0px;
			background-color: #fff;
			border: 1px solid silver;
			padding: 7px 10px;
			outline: none;
			cursor: pointer;
		}
		#wrapper{
			/*background-color: #f1f1f1;*/
			padding: 5px;
			outline: 5px solid #f1f1f1;
			margin: 50px 0px;
			/*position: relative;*/
		}
		#image_gallery{
			overflow-y: scroll;
			max-height: 80vh;
		}
		#gallery-control{
			padding: 5px;
		}

		/* Overlay */
		.upload-overlay {
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-color: rgba(0,0,0,0.9);
		    color:#fff;
		    display:none;
		 }

		#drop-overlay{
		  	background-color: rgba(0,0,0,0.4);
		}
		.upload-overlay-img{
			width: 50px;
		}
		a#close-overlay{
			position: absolute;
			right: 50px;
			top: 50px;
			font-size: 25px;
			text-decoration: none;
			color: #fff;
			border-radius: 50%;
			border: 2px solid #fff;
			padding: 10px 15px;
		}
		a#close-overlay:hover{
			border-radius: 50% 0px 50% 50%;
		}

		/* Let's get this party started */
		#uploads-progress{
			width:90%; 
			height: 60%; 
			margin: 10px auto 0px auto; 
			padding: 10px; 
			border: 1px dashed #fff;
			overflow-y: scroll !important;
		}
		::-webkit-scrollbar {
		    width: 12px;
		}
		/* images in gallery*/
		.si_thumbnailImg{
			height:173px;
			cursor: pointer;
			display: inline-block;
			margin: 5px;
		}
		.si_thumbnailImg:hover{
			outline: 2px solid #333;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="col-md-12" id="wrapper">			
			<div id="gallery-control" class="col-md-3 col-sm-12">
				<button class="btn" id="upload_image">Upload image</button>
			</div>
			<div id="image_gallery">
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/si_incoming.js"></script>
<script>
	var x = new $Incoming({
		dropAreaID : "#wrapper", // this element should have fixed height
		uploadURL : "/upload-image"
	});
	// ============= TEMPORARY SECTION for filling up gallery =========
	/*
		Gallery is supposed to be filled with images already uploaded to the system
		In this case we are fetching images and filling placeholders
		----------------------------------------------------------------
	*/
	var ratios = [400,300,400,300];
	var img_count = 20;
	function getImage(){
		var h = ratios[Math.floor((Math.random() * 4) + 1) - 1];
		var w = ratios[Math.floor((Math.random() * 4) + 1) - 1];
		var img = document.createElement('img');
		img.onload = function(fl){
			var x = this.height.toString() +' x '+this.width.toString()
  	        
  			this.setAttribute('class', 'si_thumbnailImg');
  			this.setAttribute('ondragstart', 'return false;');
  			
			// ------
			document.querySelector('#image_gallery').appendChild(this)
			if(img_count != 0){
				img_count --;
				getImage();
			}
		}
		// img.setAttribute('src','https://unsplash.it/'+h+'/'+w+'/');
		img.setAttribute('src','http://lorempixel.com/'+h+'/'+w+'/');

	}
	getImage();
	
</script>
</html>
